{template 'common/header'}
<ul class="nav nav-tabs">
	<li><a href="{php echo $this->createWebUrl('Fenleigl', array())}">会员列表</a></li>
		<li class="active"><a href="{php echo $this->createWebUrl('Fenleigl', array('op' => 'add'))}">添加分类</a></li>
</ul>

<form action="{php echo $this->createWebUrl('Fenleigl', array('op' => 'add'))}" method="post" class="form-horizontal bv-form" role="form" id="form1" novalidate="novalidate">
	<div class="panel panel-info">
		<div class="panel-heading">添加会员</div>
		<div class="panel-body">
			<div class="form-group">
				<label class="col-xs-12 col-sm-3 col-md-2 control-label">名称</label>
				<div class="col-sm-9 col-xs-12">
					<input type="text" name="name" value="{$urs['name']}" class="form-control">
				<small class="help-block" style="display: none;">姓名不能为空</small></div>
			</div>
			
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-9 col-xs-12">
			<input type="hidden" name="token" value="2c707ead">
			<input type="hidden" name="id" value="{$urs['id']}">
			<input type="hidden" name="form" value="2c707ead">
			<input type="submit" value="提交" class="btn btn-primary">
		</div>
	</div>
</form>




{template 'common/footer'}

